

.nav {

  width: 100%;
  display: flex;
  background-color: rgba(205, 216, 226, 0.562);
  justify-content: space-between;
}

.list-itm li {
  display: inline;
  padding: 0px 30px;
  gap: 20px;


}
.list-head{
  margin-left: 30px;
}

.container{
  font-weight: bold;
}

li:hover{
  color: red;
}